.Section{
  
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: auto;
  background-color: black;
  border-radius: 20px;
  gap:20px;
  padding:10px;
  align-items:stretch;
}
.card{
  background-color: yellow;
  
}
.Fundo_do_Card{
  background-color: pink;
  
}
.Topo_do_Card{
  background-color: blue;
  color: #ff09ef;
  align-items: space-between;
  display: flex;
}
.Footer{
  background-color: red;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.Header{
  background-color: black;
  padding: 10px;
}
.Nav{
  padding: 10px;
  background-color: white;
}
.Main{
  background-color: rgb(71, 68, 68);
  font: 10%;
  color: black;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}
@keyframes Titulo_Apresentacao_Animacao{
  0%{color:blue}
  25%{color:rgb(95, 30, 155)}
  50%{color:aqua}
  75%{color:cadetblue}
  100%{color:blue}
}
.Titulo_Apresentacao{
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: Titulo_Apresentacao_Animacao;
}
.link{
  scroll-behavior: smooth;
  outline: 3px solid #ff09ef; /* Borda externa azul */
  outline-offset: 2px;       /* Espaço entre o link e a borda */
  border-radius: 4px;        /* Arredondamento suave */
}
.link:hover{
  background-color: grey;
  animation-name: Titulo_Apresentacao_Animacao;
}
