.Plano_de_Fundo{
   background-image: url('../imagens/papel_de_parede.jpg');
   background-position: center;
}
.Section{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px,50%));
  height: auto;
  background-color: black;
  border-radius: 20px;
  gap:20px;
  padding:10px;
}
.card{
  background-color: yellow;
  border-radius: 5px;
}

.Topo_do_Card{
  background-color: yellow;
  color: black;
  justify-content: space-between;
  display: flex;
  padding: 5px;
}
.Card_Concluido{
  background-color: green;
  border-radius: 10px;
  font-size: small;
  color: rgb(255, 238, 0);
}
.Card_Pendente{
  background-color: yellow;
  border-radius: 10px;
  font-size: small;
  color: purple;
}
.Card_Else{
  background-color: red;
  border-radius: 10px;
  font-size: small;
  color: black;
}
.card_status{
  background-color: rgba(128, 128, 128, 0.877);
  border-radius: 5px;
  color: cyan;
}
.Footer{
  background-color: yellow;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.Header{
  background-color: yellow;
  padding: 10px;
  margin-bottom: 2%;
}
.Nav{
  padding: 20px;
  background-color: yellow;
  box-shadow: grey;
  border-radius: 100px;
}
.Main{
  background-color: yellow;
  font: 10%;
  color: black;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;
}
@keyframes Titulo_Apresentacao_Animacao{
  0%{color:#ff09ef}
  25%{color:red}
  50%{color:yellow}
  75%{color:orange}
  100%{color:green}
}
.Titulo_Apresentacao{
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: Titulo_Apresentacao_Animacao;
  place-items: center;
  
}
.TextoApresentacao{
  display: flex;
  place-items: center;
  justify-content: space-evenly;      
}
.texto{
  max-width: 70%;
}
.link{
  scroll-behavior: smooth;
  outline: 1px solid #ff09ef; /* Borda externa azul */
  outline-offset: 1px;       /* Espaço entre o link e a borda */
  border-radius: 2px;        /* Arredondamento suave */
}
.link:hover{
  background-color: rgba(238, 238, 64, 0.877);
}
@media print and (min-width: 1000px){
  body{
    background-color: grey;
    font-size: 20px;
  }
  .Nav,.Footer{
    display: none;
  }
}